
//Color Palatte


$text-light : #F7ECED;
$theme-main : #c64b55;
$footer-main : #ea5d69;
$bg-shadow : #f0838c;
$text-primary : #C1C1C1;
$home-svg :rgba(65,92,101,0.16);
$bg-secondary : #F4D9D5;
$bg-primary : #F4BABA;







//Variables


$main-height : calc(100vh - 10rem - 33rem);
$main-width : 100%;