
//Color Palatte

$bg : #EAEAEA;
$about-bg :#C0463B;
$text-light : #dfd2d3e2;
$theme-main : #cec3c4;
$footer-main : #c0463b98;
$bg-shadow : #f0828b;
$text-primary : #191818;
$text-active : #d71414c6;
$home-svg :rgba(65,92,101,0.16);
$bg-secondary : #F4D9D5;
$bg-primary : #f4babab2;
$about-overlay : #efc7d926;

$check-main : linear-gradient(135deg,rgba(235, 234, 172, 0.683) 30% , rgb(240, 130, 139));



//Variables


$main-height : calc(100vh - 20rem);
$main-width : 100%;