
//Color Palatte


$text-light : #F7ECED;
$theme-main : #c74d57;
$footer-main : #ea5d69;
$bg-shadow : #f0828b;
$text-primary : #C1C1C1;
$home-svg :rgba(65,92,101,0.16);
$bg-secondary : #F4D9D5;
$bg-primary : #F4BABA;

$check-main : linear-gradient(135deg,rgba(235, 234, 172, 0.683) 30% , rgb(240, 130, 139));



$hadow : #d1c6c6;
$hadow2 : #e3362d;



//Variables


$main-height : calc(100vh - 10rem - 33rem);
$main-width : 100%;