
@import 'vars';

*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size : 62.5%;
}




//Admin , Admin Dashboard


.admin_outer_div{
    min-height: 100vh;
    width: $main-width;
    background-color: $bg-primary;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &::after{
        content : "";
        position: absolute;
        width: 100rem;
        height: 150rem;
        background-color: $bg-secondary;
        top : 10rem;
        right: -15rem;
        // z-index: -5;
        rotate: 317deg;
        border-radius: 43rem 33rem 105rem 10rem;
        box-shadow: 0 0 60rem $bg-shadow,
                    0 0 1rem $bg-secondary;

        
    }
    &::before{
        content : "";
        position: absolute;
        width: 40rem;
        height: 50rem;
        background-color: $bg-secondary;
        top : 2rem;
        left: 2rem;
        // z-index: -5;
        rotate: 300deg;
        border-radius: 33rem 14rem 15rem 20rem;
        box-shadow: 0 0 60rem $bg-shadow,
                    0 0 1rem $bg-secondary;
        
    }

    & .admin_inner_div{
        z-index: 6;

        & .admin_login{    
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 80rem;

                & .admin_login_form{

                    width: 70rem;
                    padding: 4rem;
                    z-index: 7;  
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 2.5rem;
                    border-left: 3px solid rgba(255, 255, 255, 0.7);
                    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
                    border-top: 1px solid rgba(255, 255, 255, 0.7);
                    border-right: 1px solid rgba(255, 255, 255, 0.7);
                    box-shadow: inset 0px 0px 15rem 0px rgba(255, 255, 255, 0.8);
                }            
            }
                
        
        & .css-10hburv-MuiTypography-root{
            font-size: 2rem;
        }
    }



}





//Navbar

.outer_nav{

    height: 10rem;
    background-color: $theme-main;
    display: grid;
    grid-template-columns: 1fr 40rem 20rem 80rem 1fr;

    & .logo{
        max-height: 8rem;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        & img{
            margin-top: -2.8rem;
            height: 200%;
            width: auto;

        }

        // font-size: 0.2rem;
    }


    & .menu{
        height: 8rem;
        grid-column: 4/5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around ;        

        & .nav-link{
            font-size: 1.8rem;
            text-decoration: none;
            color: $text-primary;
        }

    }



}




//Home Page


.home_outer{

    position: relative;
    min-height: $main-height;
    width: $main-width;

    & .left{
        position: absolute;
        background-color: $home-svg;
        height: 100%;
        width: 75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 4rem;
        & h5{
            font-size: 6rem;
            padding: 0 7rem;
            text-align: right;
        }

        & p{
            font-size: 2rem;
            padding: 0 10rem;
            text-align: right;
        }

    }


}





//Donate Blood, Donor Dashboard, Request Blood, Request Dashboard

.css-79ws1d-MuiModal-root {
    & .css-1hv8oq8-MuiStepLabel-label {
        font-size: 1.6rem !important;
    }

}
.donate_outer_div, .request_outer_div , .req_dashboard_outer_div , .don_dashboard_outer_div {
    min-height: $main-height;
    width: $main-width;
    background-color: $bg-primary;
    position: relative;
    overflow: hidden;
    // z-index: -5;
    &::after{
        content : "";
        position: absolute;
        width: 100rem;
        height: 150rem;
        background-color: $bg-secondary;
        top : 10rem;
        right: -15rem;
        // z-index: -2;
        rotate: 317deg;
        border-radius: 43rem 33rem 105rem 10rem;
        box-shadow: 0 0 60rem $bg-shadow,
                    0 0 1rem $bg-secondary;

        
    }
    &::before{
        content : "";
        position: absolute;
        width: 40rem;
        height: 50rem;
        background-color: $bg-secondary;
        top : 2rem;
        left: 2rem;
        // z-index: -3;
        rotate: 300deg;
        border-radius: 33rem 14rem 15rem 20rem;
        box-shadow: 0 0 60rem $bg-shadow,
                    0 0 1rem $bg-secondary;
        
    }

    & .donate_inner_div, & .request_inner_div, & .req_dashboard_inner_div, & .don_dashboard_inner_div{
        display: flex;
        // z-index: 3;


        //Request And Donate Dashboard
        & .req_dashboard_content, & .don_dashboard_content{
            width: 100%;
            min-height: 100rem;
            display: flex;
            justify-content: center;
            align-items: center;
            & .actual_content{
                z-index: 6;
                width: 135em;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 2.5rem;
                border-left: 3px solid rgba(255, 255, 255, 0.7);
                border-bottom: 3px solid rgba(255, 255, 255, 0.7);
                border-top: 1px solid rgba(255, 255, 255, 0.7);
                border-right: 1px solid rgba(255, 255, 255, 0.7);
                box-shadow: inset 0px 0px 15rem 0px rgba(255, 255, 255, 0.8);
                
                & .grid_container{
                    display: grid;
                    grid-template-areas:    "main calendar"
                                            "requests calendar";
                    grid-template-columns: 2fr 1fr;
                    min-height: 80rem;
                    gap: 1rem;
                    padding: 3rem;


                    & .main{
                        grid-area: main;
                        justify-content: space-around;
                        align-items: space-around;
                        display: flex;
                        flex-direction: column;
                        & .remaining_units{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            place-self: flex-start;
                        }

                        & .register_patient{
                            place-self: flex-start;
                            margin-left: 2rem ;

                            

                        }
                    }


                    & .calendar{
                        grid-area: calendar;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        & .css-4pax7l-MuiPickersLayout-root{
                            height: 50rem;
                            background-image: $check-main;
                            border-bottom: 2px solid $bg-shadow;
                            border-right: 2px solid $bg-shadow;
                            box-shadow: 0 0 9rem rgba(0 , 0 , 0 , 0.2);
                            & .css-16b5y55-MuiPickersLayout-contentWrapper{
                                justify-content: center;
                            }
                        }

                        & .css-1hbyad5-MuiTypography-root, .css-15jcv2p-MuiPickersToolbar-content, .css-knqc4i-MuiDialogActions-root, .css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton, .css-9reuh9-MuiPickersArrowSwitcher-root , .css-1eurbeq-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
                            display: none !important; 
                        }
                        & .css-nk89i7-MuiPickersCalendarHeader-root{
                            margin-bottom: 3rem;
                            justify-content: center;
                            
                            & .css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
                                margin-right: 0 !important;
                            }
                            & .css-dplwbx-MuiPickersCalendarHeader-label{
                                font-size: 2.6rem;
                                
                            }

                            
                        }
                        & .css-1q04gal-MuiDateCalendar-root{
                            margin-top: -1rem;
                        }

                        & .css-4pax7l-MuiPickersLayout-root{
                            border-radius: 2rem !important;
                        }

                        & .css-rhmlg1-MuiTypography-root-MuiDayCalendar-weekDayLabel{
                            font-size : 1.6rem !important;
                            font-weight: 500;
                            width: 3.72rem;
                            height: 3.72rem;
                        }
                        
                        & .css-18wn1yb-MuiButtonBase-root-MuiPickersDay-root{
                            font-size : 1.2rem !important;
                            width: 3.72rem;
                            height: 3.72rem;
                            &:hover {
                                background-color: rgba(208, 162, 83, 0.547);
                            }
                            
                        }
                        & .css-1u23akw-MuiButtonBase-root-MuiPickersDay-root{
                            font-size : 1.2rem !important;
                            width: 3.72rem;
                            height: 3.72rem;
                            &:hover{
                                background-color: rgba(208, 162, 83, 0.547);
                            }
                            
                        }
                        & .css-jgls56-MuiButtonBase-root-MuiPickersDay-root.Mui-selected{
                            font-size : 1.2rem !important;
                            width: 3.72rem;
                            height: 3.72rem;
                            background-color: orange;
                            
                        }
                        & .css-jgls56-MuiButtonBase-root-MuiPickersDay-root{
                            font-size : 1.2rem !important;
                            width: 3.72rem;
                            height: 3.72rem;
                            // background-color: rgba(208, 162, 83, 0.547);
                        }

                        & .css-1mnzkq2-MuiBadge-badge{
                            background-color: #ff610c;
                        }

                    }
                    & .requests{
                        grid-area: requests;
                        height: 100%;
                    }
                }

                & .modal_div{

                    & .css-ascpo7-MuiStepLabel-root {
                        & .css-1vyamtt-MuiStepLabel-labelContainer{
                            & .css-1hv8oq8-MuiStepLabel-label {
                                font-size: 1.8rem !important;
                            }
                        }
                    }
                }

            }


        }


        //Donor and Request Signup/Login Pages
        & .donate_register, & .request_register , & .donate_login{
            // z-index: 6;
            width: 100%;
            height: 80rem;
            display: flex;
            justify-content: center;
            align-items: center;

            
            & .donate_registration_form, & .request_registration_form , & .donate_login_form {
                width: 70rem;
                padding: 4rem;
                z-index: 7;  
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 2.5rem;
                border-left: 3px solid rgba(255, 255, 255, 0.7);
                border-bottom: 3px solid rgba(255, 255, 255, 0.7);
                border-top: 1px solid rgba(255, 255, 255, 0.7);
                border-right: 1px solid rgba(255, 255, 255, 0.7);
                box-shadow: inset 0px 0px 15rem 0px rgba(255, 255, 255, 0.8);
            
            
                & .reg form {

                    & .chakra-form-control{
                        &:nth-child(1){
                            margin-top: 3rem;
                            // height: 2rem;
                        }

                        & .chakra-form__label{

                            font-size: 1.4rem;
                        }
                        
                    }
                }       
            }
        }
    }
}





















//Footer



.footer_outer{

    background-color: $footer-main;
    height: 33rem;
    z-index: 0;
    overflow: hidden;
    & .footer_inner{
        position: relative;
        display: flex;
        & img{
            position: absolute;
        }
        
        & .footer_details{
            width: 100%;
            display: grid;
            grid-template-columns: 0.5fr repeat(3,40rem) 1fr;
            
            & .part1{
                grid-column: 2/3;
                width: 100%;
                height: 33rem;
                display: flex;
                justify-content: center;
                align-items : center;
                & img{
                    
                    max-height: 20rem;
                    width: auto;
                }
            }
            & .part2{
                position: relative;
                top: 6rem;
                grid-column: 3/4;
                width: 100%;
                height: 33rem;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items : center;
                row-gap: 8rem;
                & h6{
                    font-size: 3rem;
                    position: relative;
                    &::after{
                        position: absolute;
                        top: 4.5rem;
                        left: -1rem;

                        content: "";
                        width: 60%;
                        background-color: black;
                        height: 0.2rem;

                    }

                }
                

                & .social_links{
                    z-index: 4;
                }


            }
            
            
            
            & .part3{
                position: relative;
                top: 6rem;
                grid-column: 4/5;
                width: 100%;
                height: 33rem;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items : center;
                // row-gap: rem;
                & h6{
                    font-size: 3rem;
                    position: relative;
                    &::after{
                        position: absolute;
                        top: 4.5rem;
                        left: -1rem;

                        content: "";
                        width: 60%;
                        background-color: black;
                        height: 0.2rem;

                    }

                }
                

                & .contact_info{
                    z-index: 4;
                    font-size: 1.8rem;
                    padding-left: 7rem;
                    margin-top: 4rem;
                    & .con{
                        display: flex;
                        column-gap: 2rem;
                        margin-bottom: 1rem;
                        & .con_icons{
                            min-width: 2.6rem;
                        }
                        // justify-content:space-around;
                    }
                }


            }
        }


    
    }
}