

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import 'vars';

*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif !important;
}
html{
    font-size : 62.5%;
}
//Admin , Admin Dashboard
.admin_outer_div{
    min-height: 100vh;
    width: $main-width;
    background-color: $bg;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

        &::before{
            content: "";
            top: 2rem;
            width: 150rem;
            height: 150rem;
            background-color: $request-bg;
            position: absolute;
            z-index: 1;
            transform: rotate(114deg);
            left: -61rem;
            box-shadow: 0 0 12rem rgba(0 , 0 , 0 , 0.7);
        }

        // Admin Login
        & .admin_login{    
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                z-index: 2;
                & .admin_login_form{
                    width: 50rem;
                    height: 50rem;
                    padding: 4rem;
                    background-color: #daccca;
                    border-radius: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-shadow: 0 0 12rem rgba(0,0,0,0.6);
                }            
        }
        
        // Admin Dashboard
        & .admin_dashboard{
            padding-top: 15rem;
            display: flex;
            z-index: 2;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            margin-bottom: 10rem;
            // min-height: 200rem;
            & .logout{
                position: absolute;
                right : 3rem;
                top : 12rem;
                z-index: 2;
            }
        }
        & .css-10hburv-MuiTypography-root{
            font-size: 2rem;
        }

        & .css-1iyq7zh-MuiDataGrid-columnHeaders{
            justify-content: center;
        }
        & .css-siqkc4-MuiDataGrid-root{
            align-items: center;
        }
        & .MuiDataGrid-actionsCell{
            
            & .css-ptiqhd-MuiSvgIcon-root{
                font-size: 2rem;
            }
        }
} 
//Filter Button
.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    background-color: #d22228 !important;
    width: 12rem;
    height: 3rem;
    color: #ede4e2 !important;
    font-size: 1.2rem;
    border-radius: 1.3rem;
}
//Complex Table Filter Form     
.css-1t5wrdm-MuiDataGrid-filterForm {
    background-color: rgb(181, 178, 178);
    height: 8rem;
    & .css-1717ajk-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 1.8rem !important;

    }
}
label+.css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    margin-top: 3rem !important;
}
.css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root{
    font-size: 1.4rem !important ;
}
label+.css-v4u5dn-MuiInputBase-root-MuiInput-root{
    margin-top: 3rem !important;
}
.css-v4u5dn-MuiInputBase-root-MuiInput-root{
    font-size: 1.4rem !important ;
}
.css-rne967-MuiFormControl-root-MuiDataGrid-filterFormDeleteIcon{
    margin-bottom: 0.6rem !important;
}
//Admin Request List View Receipt Modal
.receipt_view {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    & img{
        justify-self: center;
        align-self: center;
        grid-column: 1 / 3;
        height: 45rem;
    }
}
//Complex Table Buttons
.css-15ghhi9-MuiButtonBase-root-MuiIconButton-root {
    font-size: 2rem;
    color : #049f0c !important;
}

// .css-1ps6pg7-MuiPaper-root{
//     & .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
//         font-size: 1.4rem;
//     }
//     & .css-4b67si-MuiSvgIcon-root{
//          font-size: 2rem;
//          color : #07bc0c;
//         }

//     & .new{

//         & .css-i4bv87-MuiSvgIcon-root{
//             color : rgb(126, 224, 246);
//             font-size: 2rem;
//         }
//     }
  
//     & .css-i4bv87-MuiSvgIcon-root{
//         color : #e74c3c;
//         font-size: 2rem;
//     }
// }

//Navbar
.outer_nav{
    position: fixed;
    margin-top: 0 !important;
    width: 100%;
    z-index: 9;
    height: 10rem;
    background-color: $bg;
    display: grid;
    grid-template-columns: 1fr 40rem 20rem 80rem 1fr;
    align-items: center;
    box-shadow: 0 0 5rem rgba(0 , 0 , 0 , 0.2);
    & .logo{
        max-height: 8rem;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        & img{
            // margin-top: -2.8rem;
            height: 8rem;
            // width: auto;
        }
    }


    & .menu{
        height: 8rem;
        grid-column: 4/5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around ;        

        & .nav-link{
            font-size: 1.8rem;
            font-weight: 600;
            text-decoration: none;
            color: $text-primary;

        }
        
        & .active{
            color: $text-active;
        }
    }



}

//Home Page
.home_outer{
    padding-top: 10rem;
    min-height: $main-height;
    width: $main-width;
    
    & .landing{
        margin-top: 1rem;
        box-shadow: 0 0 8rem rgba(0,0,0,0.5);
        z-index: 2;
        position: relative;
       
    
        & .left{
            position: absolute;
            background-color: $home-svg;
            height: 100%;
            width: 75rem;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            row-gap: 4rem;
            & h5{
                font-size: 6rem;
                padding: 0 7rem;
                text-align: right;
            }
            
            & p{
                font-size: 2rem;
                padding: 0 8rem;
                text-align: right;
            }
        }
    }
    
    & .about{
        height: 100rem;
        background-color: $bg;
        position: relative;
        & .about_content{
            display: grid;        
            height: 100%;
            width: 100%;
            grid-template-columns: repeat(2,1fr) ;
            
            & .photo_gallery{
                grid-column: 1/2;
                position: relative; 
                // left: 10rem;    
                & img{
                    position: absolute;
                    border-radius: 13px;
                    box-shadow: 0 0 50px rgba(0,0,0,0.5);
                    width: auto;
                    
                    &:nth-child(1){
                        top: 20rem;
                        left: 5rem;
                        z-index: 4;
                        height: 30rem;
                        // aspect-ratio: 6/9;                        
                    }
                    &:nth-child(2){
                        z-index: 5;
                        top:72rem;
                        left: 30rem;
                        height: 30rem;
                    }
                    &:nth-child(3){
                        z-index: 4;
                        top: 48rem;
                        left: 7rem;
                        height: 36rem;
                        
                    }
                    &:nth-child(4){
                        top: 5rem;
                        left: 28rem;
                        z-index:1;
                        height: 35rem;
                    }
                    &:nth-child(5){
                        top: 34rem;
                        left: 32rem;
                        z-index: 4;
                        height: 40rem;
                    }

                }           
            }

            & .about_smile{
                grid-column: 2/3;
                position: relative;
                height: 100%;
                & .container{
                    top : 20rem;
                    right: 0;
                    width: 127%;
                    z-index: 0;
                    height: 50rem;
                    background-color: $about-bg;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                    & h5{
                        font-size: 6rem;
                        padding: 0 7rem;
                        text-align: right;
                        color : $text-light;
                    }
                    
                    & p{
                        color : $text-light;
                        margin-top: 3rem;
                        font-size: 2rem;
                        padding: 0 8rem 0 20rem;
                        text-align: right;
                    }
                }

            }

        }
    }
}

//Donate Blood, Donor Dashboard, Request Blood, Request Dashboard
.css-79ws1d-MuiModal-root {
    & .css-1hv8oq8-MuiStepLabel-label {
        font-size: 1.2rem !important;
    }
}

.donate_outer_div, .request_outer_div , .req_dashboard_outer_div , .don_dashboard_outer_div {
    min-height: $main-height;
    width: $main-width;
    background-color: $bg;
    position: relative;
    overflow: hidden ;
    
    //Donor and Request Signup/Login Pages
    & .donate_register, & .request_register , & .donate_login{
        // z-index: 6;
        width: 100%;
        height: 85rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden ;
        &::before{
            content: "";
            top: -90rem;
            left: 0rem;
            width: 130rem;
            height: 150rem;
            background-color: $request-bg;
            position: absolute;
            z-index: 1;
            transform: rotate(114deg);
            // left: -61rem;
            box-shadow: 0 0 10rem rgba(0 , 0 , 0 , 0.7);
        }

     
         & .request_registration_form , & .donate_login_form {
            width: 55rem;
            padding: 4rem;
            z-index: 7;  
            background-color: #daccca;
            border-radius: 2.5rem;
            box-shadow: 0 0 12rem rgba(0,0,0,0.6);
            
        
            & .reg form {

                & .chakra-form-control{
                    &:nth-child(1){
                        margin-top: 3rem;
                        // height: 2rem;
                    }

                    & .chakra-form__label{

                        font-size: 1.4rem;
                    }
                    
                }
            }      
        }
            & .donate_registration_form{
                width: 75rem;
                padding: 4rem;
                z-index: 7;  
                background-color: #daccca;
                border-radius: 2.5rem;
                box-shadow: 0 0 12rem rgba(0,0,0,0.6);
                
            
                & .reg form {

                    & .chakra-form-control{
                        &:nth-child(1){
                            margin-top: 3rem;
                            // height: 2rem;
                        }

                        & .chakra-form__label{

                            font-size: 1.4rem;
                        }
                        
                    }
                }
            
            

        }
    }



        //Request And Donate Dashboard
        & .req_dashboard_content, & .don_dashboard_content{
            width: 100%;
            min-height: 120rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                left: 0;
                width: 120rem;
                height:95rem;
                background-color: $request-bg;
                border-radius: 0 50% 50% 0;
                box-shadow: 0 0 8rem rgba(0 , 0 , 0 , 0.7);
            }

            

            & .actual_content{
                position: relative;
                // z-index: 6;
                height: 90rem;
                width: 135rem;
                & .logout{
                    position: absolute;
                    right : 0;
                    z-index: 2;
                }

                & .grid_container{
                    display: grid;
                    grid-template-areas:    "main calendar"
                                            "requests calendar";
                    grid-template-columns: 2fr 1fr;
                    min-height: 80rem;
                    gap: 1rem;
                    padding: 3rem;
                    position: relative;

                    & .main{
                        grid-area: main;
                        padding: 2rem;
                        align-self: flex-start;
                        min-height: 35rem;
                        width: 70rem;
                        background-color: #daccca;
                        border-radius: 2rem;
                        box-shadow: 0 0 4rem rgba(0, 0, 0, 0.6);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        //For Recipient Dashboard
                        & .remaining_units{
                            color: $text-primary;
                            font-size: 3rem;
                            font-weight: 400;
                            
                        }
                        & .register_patient{
                            font-size: 3rem;
                        }

                        //For Donor Dashboard
                        & .upper{
                            margin-bottom: 1rem;
                            & .first{
                                display: flex;
                                align-items: center;
                                gap: 2rem;
                                margin-bottom: 1rem;
                            }

                            & .second{
                                display: grid;
                                grid-template-columns: repeat(2,1fr);
                                gap: 1rem 2rem;
                            }


                        }


                    }

                    // Date And Time Style
                    & .calendar{
                        grid-area: calendar;
                        // position: relative;
                        & .date_time{
                            position: relative;
                            width: 100%;
                            display: flex;
                            // flex-direction: column;
                            height: 100%;
                            align-items: center;
                            justify-content: center;
                            & .date{
                                position: absolute;
                                top: 5rem;
                                left: 0rem;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 20rem;
                                height: 15rem;
                                font-size: 3.5rem;
                                background-color: #E9E8EA;
                                color: #2B313B;
                                box-shadow: 0 -1rem 5rem rgba(0 , 0 , 0 , 0.6);
                                z-index: 2;
                                border-radius: 2rem 0 0 2rem;
                                & p:nth-child(1){
                                    font-weight: 700;
                                }
                                & p:nth-child(2){
                                    font-weight: 400;
                                }
                            }
                            
                            & .time{
                                position: absolute;
                                top: 5rem;
                                left: 20rem;
                                gap: 0.5rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #2B313B;
                                color: #E9E8EA;
                                font-size: 4rem;
                                height: 15rem;
                                width: 25rem;
                                box-shadow: 0 1rem 5rem rgba(0 , 0 , 0 , 0.6);
                                border-radius: 0 2rem 2rem 0;
                                & p:nth-child(1){
                                    font-weight: 600;
                                }
                                & p:nth-child(2){
                                    animation: blink 1s alternate infinite;
                                }

                            }

                        }



                    }
                    
                    & .requests{
                        grid-area: requests;
                        height: 100%;
                        margin-top: 5rem;
                        
                        & .css-1m85xzu-MuiTableCell-root{
                            background-color: $bg;
                        }


                    }
                }

                & .modal_div{

                    & .css-ascpo7-MuiStepLabel-root {
                        & .css-1vyamtt-MuiStepLabel-labelContainer{
                            & .css-1hv8oq8-MuiStepLabel-label {
                                font-size: 1.8rem !important;
                            }
                        }
                    }
                }

            }


        }
}

// Animation For Time :
@keyframes blink {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



// Style For Recipient Upload Files in Modal
.css-79ws1d-MuiModal-root{
    & .css-aweyz3{

        & .pat_reg{

            & .receipt_input{
                height: 100%;
                width: 100%;
                border-radius: 2rem;
                cursor: pointer;
                background-color: rgba(255 , 255 , 255 , 0.3);
                box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px, inset rgba(239, 106, 106, 0.184) 0 0 4rem;
                display: flex;
                flex-direction: column;
                gap : 1rem;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                border: 1px dashed #F13C3C;
                & .main{
                    gap: 2rem;
                    // display: flex;

                    align-items: center;
                }
                & p{
                    font-size: 1rem;
                }
            }
            
            & .receipt{
                border-radius: 1.4rem;
                width: 100%;
                height: 20rem;
                background-color: rgba(255 , 255 , 255 , 0.3);
                box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                & img{
                    height: 18rem;
                    width: auto;
                }
            }

            & .css-rtjcmg {
                padding: 5px;
            }
        }
    }
}


// Sweet Alert Container
.swal2-container {
    z-index: 1500;
}



//Footer
.footer_outer{

    background-color: $bg;
    height: 20rem;
    z-index: 0;
    // overflow: hidden;
    & .footer_inner{
        position: relative;
        display: flex;
        height: 100%;
        & img{
            position: absolute;
            bottom : 0;
        }
        
        & .footer_details{
            width: 100%;
            display: grid;
            grid-template-columns: 0.5fr repeat(3,5fr) 1fr;
            
            & .part1{
                grid-column: 2/3;
                width: 100%;
                // height: 33rem;
                display: flex;
                justify-content: center;
                align-items : center;
                & img{
                    bottom: 7rem;
                    max-height: 8rem;
                    width: auto;
                }
            }
            & .part2{
                position: relative;
                // top: 6rem;
                grid-column: 3/4;
                width: 100%;
                // height: 33rem;
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-self : center;
                row-gap: 8rem;
                
                

                & .social_links{
                    z-index: 4;
                    & .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
                        font-size: 3rem;

                    }
                }


            }
            
            
            
            & .part3{
                position: relative;
                grid-column: 4/5;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items : center;

                & .contact_info{
                    z-index: 4;
                    font-size: 1.4rem;
                    padding-left: 7rem;
                    // margin-top: 4rem;
                    & .con{
                        display: flex;
                        column-gap: 2rem;
                        margin-bottom: 1rem;
                        & .con_icons{
                            min-width: 2.6rem;
                        }
                    }
                }
            }
        }   
    }
}


// Scrollbar Styles
::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb{
    background: $about-bg;
    border-radius: 10rem;
}

::-webkit-scrollbar-track{
    background: $bg;
}




//  Mobile View

@media only screen and (max-width: 767px) {


    //Admin , Admin Dashboard
    .admin_outer_div{
        min-height: 100vh;
        width: $main-width;
        background-color: $bg;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;

            &::before{
                content: "";
                top: 10rem;
                width: 110rem;
                height: 110rem;
                background-color: $request-bg;
                position: absolute;
                z-index: 1;
                transform: rotate(114deg);
                left: -61rem;
                box-shadow: 0 0 12rem rgba(0 , 0 , 0 , 0.7);
            }

            // Admin Login
            & .admin_login{    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    & .admin_login_form{
                        width: 33rem;
                        height: 40rem;
                        padding: 4rem;
                        background-color: #daccca;
                        border-radius: 2.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        box-shadow: 0 0 12rem rgba(0,0,0,0.6);
                    }            
            }
            
            // Admin Dashboard
            & .admin_dashboard{
                padding-top: 15rem;
                display: flex;
                z-index: 2;
                flex-direction: column;
                // justify-content: center;
                align-items: center;
                margin-bottom: 10rem;
                // min-height: 200rem;
                // color: #daccca;
                & .logout{
                    position: absolute;
                    right : 2rem;
                    top : 10rem;
                    z-index: 2;
                }

            }
            & .css-10hburv-MuiTypography-root{
                font-size: 2rem;
            }

            & .css-1iyq7zh-MuiDataGrid-columnHeaders{
                justify-content: center;
            }
            & .css-siqkc4-MuiDataGrid-root{
                align-items: center;
            }
            & .MuiDataGrid-actionsCell{
                
                & .css-ptiqhd-MuiSvgIcon-root{
                    font-size: 2rem;
                }
            }

            
            //Admin Table Column Padding
            & .reqList{
                & .css-1iyq7zh-MuiDataGrid-columnHeaders{
                    padding-left: 60rem;
                }
            }
            & .nonPendingList{
                & .css-1iyq7zh-MuiDataGrid-columnHeaders{
                    padding-left: 64.5rem;
                }
            }
            & .donorList{
                & .css-1iyq7zh-MuiDataGrid-columnHeaders{
                    padding-left: 51.5rem;
                }
            }
            
            
    }
    //Filter Button 
    .css-1knaqv7-MuiButtonBase-root-MuiButton-root {
            background-color: #d22228 !important;
            width: 12rem;
            height: 3rem;
            color: #ede4e2 !important;
            font-size: 1.2rem;
            border-radius: 1.3rem;
    }
    //Complex Table Filter Form     
    .css-1t5wrdm-MuiDataGrid-filterForm {
        background-color: rgb(181, 178, 178);
        height: 7rem;
        width: 30rem;
        & .css-1717ajk-MuiFormLabel-root-MuiInputLabel-root {
            font-size: 1.6rem !important;

        }
    }
    label+.css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root{
        margin-top: 2rem !important;
    }
    .css-m5hdmq-MuiInputBase-root-MuiInput-root-MuiSelect-root{
        font-size: 1.4rem !important ;
    }
    label+.css-v4u5dn-MuiInputBase-root-MuiInput-root{
        margin-top: 2rem !important;
    }
    .css-v4u5dn-MuiInputBase-root-MuiInput-root{
        font-size: 1.4rem !important ;
    }
    .css-rne967-MuiFormControl-root-MuiDataGrid-filterFormDeleteIcon{
        margin-bottom: 0.6rem !important;
    }
    //Admin Request List View Receipt Modal
    .receipt_view {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-size: 1.1rem;
        & img{
            margin-top: 2rem;
            justify-self: center;
            align-self: center;
            grid-column: 1 / 3;
            height: 25rem;
            width: auto;
        }
    }
    //Complex Table Buttons
    .css-15ghhi9-MuiButtonBase-root-MuiIconButton-root {
        font-size: 2rem;
        color : #049f0c !important;
    }
    // .css-1ps6pg7-MuiPaper-root{
    //     & .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    //         font-size: 1.4rem;
    //     }
    //     & .css-4b67si-MuiSvgIcon-root{
    //         font-size: 2rem;
    //         color : #07bc0c;
    //         }

    //     & .new{

    //         & .css-i4bv87-MuiSvgIcon-root{
    //             color : rgb(126, 224, 246);
    //             font-size: 2rem;
    //         }
    //     }
    
    //     & .css-i4bv87-MuiSvgIcon-root{
    //         color : #e74c3c;
    //         font-size: 2rem;
    //     }
    // }

    //Navbar
    .outer_nav{
        position: fixed;
        margin-top: 0 !important;
        width: 100%;
        z-index: 9;
        height: 7rem;
        background-color: $bg;
        display: flex;
        // grid-template-columns: 1fr 40rem  1fr;
        align-items: center;
        
        box-shadow: 0 0 5rem rgba(0 , 0 , 0 , 0.2);
        & .logo{
            justify-self: center !important;
            max-height: 5rem;
            // grid-column: 2/3;
            // display: flex;
            justify-content: center;
            width: calc(100% - 35%);
            & img{
                // margin-top: -2.8rem;
                height: 5rem;
                // width: auto;
            }
        }
        & .menu{
            display: none; 
        }
    }
    //Side Navbar
    .css-1d4vqq0-MuiButtonBase-root-MuiListItemButton-root{
        & .nav-link{
            text-decoration: none;
            font-weight: 600;
            color : $text-primary;
        }
        & .active{
            color: $text-active;
        }
    }

    //Home Page
    .home_outer{
        padding-top: 10rem;
        min-height: $main-mob-height;
        width: $main-width;
        background-color: $bg;
        & .landing{
            margin-top: 1rem;
            box-shadow: 0 0 8rem rgba(0,0,0,0.5);
            z-index: 2;
            position: relative;
        
        
            & .left{
                position: absolute;
                background-color: $home-svg;
                height: 100%;
                width: 20rem;
                display: flex;
                flex-direction: column;
                // align-items: center;
                justify-content: center;
                row-gap: 2rem;
                & h5{
                    font-size: 1.8rem;
                    padding: 0 2rem;
                    text-align: right;
                }
                
                & p{
                    font-size: 0.8rem;
                    padding: 0 2.1rem;
                    text-align: right;
                }
            }
        }
        
        & .about{
            height: 75rem;
            width: 100%;
            background-color: $bg;
            position: relative;
            margin-top: 5rem;
            & .about_content{
                display: flex;     
                flex-direction: column ;   
                justify-content: center; 
                align-items: center; 
                height: 100%;
                width: 100%;
                position: relative;
                
                & .photo_gallery{
                    position: relative;
                    align-items: center; 
                    width: 100%;
                    height: 50rem;
                    & img{
                        position: absolute;
                        border-radius: 13px;
                        box-shadow: 0 0 50px rgba(0,0,0,0.5);
                        width: auto;
                        
                        &:nth-child(1){
                            top: 0;
                            left: 0;
                            z-index: 0;
                            height: 13rem;
                        }
                        &:nth-child(2){
                            top: auto;             
                            left: auto;
                            right : 0;
                            z-index: 3;
                            height: 13rem;
                        }
                        &:nth-child(3){
                            top: auto;
                            bottom: 0;                            
                            left: auto;
                            right: 0;
                            z-index: 4;
                            height: 15rem;
                            
                        }
                        &:nth-child(4){
                            top: auto;                           
                            left: 0;
                            bottom: 0;
                            z-index:3;
                            height: 15rem;
                        }
                        &:nth-child(5){
                            top: 50%;                            
                            left:50%;
                            transform: translate(-50%,-50%);
                            z-index: 4;
                            height: 18rem;
                        }

                    }           
                }

                & .about_smile{
                    position: relative;
                    height: 30rem;
                    width: 100%;
                    margin-bottom: 7rem;
                    & .container{
                        top : 5rem;
                        right: 0;
                        width: 100%;
                        z-index: 1;
                        height: 20rem;
                        background-color: $about-bg;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                        & h5{
                            font-size: 1.8rem;
                            padding: 0 1.8rem;
                            text-align: left;
                            color : $text-light;
                        }
                        
                        & p{
                            color : $text-light;
                            margin-top: 1.5rem;
                            font-size: 1rem;
                            padding: 0 4rem 0 2.2rem;
                            text-align: justify;
                        }
                    }

                }

            }
        }
    }


    .css-79ws1d-MuiModal-root {
        & .css-1hv8oq8-MuiStepLabel-label {
            font-size: 1.2rem !important;
        }
    }
    
    .donate_outer_div, .request_outer_div , .req_dashboard_outer_div , .don_dashboard_outer_div {
        min-height: $main-height;
        width: $main-width;
        background-color: $bg;
        position: relative;
        overflow: hidden ;
        
        //Donor and Request Signup/Login Pages
        & .donate_register, & .request_register , & .donate_login{
            // z-index: 6;
            width: 100%;
            height: 85rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden ;
            &::before{
                content: "";
                top: -15rem;
                left: -30rem;
                width: 60rem;
                height: 90rem;
                background-color: $request-bg;
                position: absolute;
                z-index: 1;
                transform: rotate(114deg);
                box-shadow: 0 0 10rem rgba(0 , 0 , 0 , 0.7);
            }

            & .request_registration_form , & .donate_login_form {
                width: 35rem;
                padding: 4rem;
                z-index: 7;  
                background-color: #daccca;
                border-radius: 2.5rem;
                box-shadow: 0 0 12rem rgba(0,0,0,0.6);
                
            
                & .reg form {
    
                    & .chakra-form-control{
                        &:nth-child(1){
                            margin-top: 3rem;
                            // height: 2rem;
                        }
    
                        & .chakra-form__label{
    
                            font-size: 1.4rem;
                        }
                        
                    }
                }       
            }

            & .donate_registration_form{
                width: 35rem;
                padding: 4rem;
                z-index: 7;  
                background-color: #daccca;
                border-radius: 2.5rem;
                box-shadow: 0 0 12rem rgba(0,0,0,0.6);
                
            
                & .reg form {
    
                    & .chakra-form-control{
                        &:nth-child(1){
                            margin-top: 3rem;
                            // height: 2rem;
                        }
    
                        & .chakra-form__label{
    
                            font-size: 1.4rem;
                        }
                        
                    }
                }       
            }


        }
    
    
    
            //Request And Donate Dashboard
            & .req_dashboard_content, & .don_dashboard_content{
                width: 100%;
                min-height: 120rem;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
    
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 120rem;
                    height:95rem;
                    background-color: $request-bg;
                    border-radius: 0 50% 50% 0;
                    box-shadow: 0 0 8rem rgba(0 , 0 , 0 , 0.7);
                }
    
                
    
                & .actual_content{
                    position: relative;
                    // z-index: 6;
                    height: 90rem;
                    width: 135rem;
                    & .logout{
                        position: absolute;
                        right : 0;
                        z-index: 2;
                    }
    
                    & .grid_container{
                        display: grid;
                        grid-template-areas:    "main calendar"
                                                "requests calendar";
                        grid-template-columns: 2fr 1fr;
                        min-height: 80rem;
                        gap: 1rem;
                        padding: 3rem;
                        position: relative;
    
                        & .main{
                            grid-area: main;
                            padding: 2rem;
                            align-self: flex-start;
                            min-height: 35rem;
                            width: 70rem;
                            background-color: #daccca;
                            border-radius: 2rem;
                            box-shadow: 0 0 4rem rgba(0, 0, 0, 0.6);
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
    
                            //For Recipient Dashboard
                            & .remaining_units{
                                color: $text-primary;
                                font-size: 3rem;
                                font-weight: 400;
                                
                            }
                            & .register_patient{
                                font-size: 3rem;
                            }
    
                            //For Donor Dashboard
                            & .upper{
                                margin-bottom: 1rem;
                                & .first{
                                    display: flex;
                                    align-items: center;
                                    gap: 2rem;
                                    margin-bottom: 1rem;
                                }
    
                                & .second{
                                    display: grid;
                                    grid-template-columns: repeat(2,1fr);
                                    gap: 1rem 2rem;
                                }
    
    
                            }
    
    
                        }
    
                        // Date And Time Style
                        & .calendar{
                            grid-area: calendar;
                            // position: relative;
                            & .date_time{
                                position: relative;
                                width: 100%;
                                display: flex;
                                // flex-direction: column;
                                height: 100%;
                                align-items: center;
                                justify-content: center;
                                & .date{
                                    position: absolute;
                                    top: 5rem;
                                    left: 0rem;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    width: 20rem;
                                    height: 15rem;
                                    font-size: 3.5rem;
                                    background-color: #E9E8EA;
                                    color: #2B313B;
                                    box-shadow: 0 -1rem 5rem rgba(0 , 0 , 0 , 0.6);
                                    z-index: 2;
                                    border-radius: 2rem 0 0 2rem;
                                    & p:nth-child(1){
                                        font-weight: 700;
                                    }
                                    & p:nth-child(2){
                                        font-weight: 400;
                                    }
                                }
                                
                                & .time{
                                    position: absolute;
                                    top: 5rem;
                                    left: 20rem;
                                    gap: 0.5rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: #2B313B;
                                    color: #E9E8EA;
                                    font-size: 4rem;
                                    height: 15rem;
                                    width: 25rem;
                                    box-shadow: 0 1rem 5rem rgba(0 , 0 , 0 , 0.6);
                                    border-radius: 0 2rem 2rem 0;
                                    & p:nth-child(1){
                                        font-weight: 600;
                                    }
                                    & p:nth-child(2){
                                        animation: blink 1s alternate infinite;
                                    }
    
                                }
    
                            }
    
    
    
                        }
                        
                        & .requests{
                            grid-area: requests;
                            height: 100%;
                            margin-top: 5rem;
                            
                            & .css-1m85xzu-MuiTableCell-root{
                                background-color: $bg;
                            }
    
    
                        }
                    }
    
                    & .modal_div{
    
                        & .css-ascpo7-MuiStepLabel-root {
                            & .css-1vyamtt-MuiStepLabel-labelContainer{
                                & .css-1hv8oq8-MuiStepLabel-label {
                                    font-size: 1.8rem !important;
                                }
                            }
                        }
                    }
    
                }
    
    
            }
    }
    


    //Footer
    .footer_outer{

        background-color: $bg;
        height: 15rem;
        z-index: 0;
        // overflow: hidden;
        & .footer_inner{
            position: relative;
            display: flex;
            // height: 100%;
            & img{
                position: absolute;
                bottom : 0;
            }
            
            & .footer_details{
                width: 100%;
                display: grid;
                grid-template-columns: 0.5fr repeat(3,5fr) 1fr;
                height: 100%;
                & .part1{
                    grid-column: 2/3;
                    width: 100%;
                    // height: 33rem;
                    display: flex;
                    justify-content: center;
                    align-items : center;
                    & img{
                        // bottom: 3rem;
                        max-height: 5rem;
                        width: auto;
                    }
                }
                & .part2{
                    position: relative;
                    // top: 6rem;
                    grid-column: 3/4;
                    width: 100%;
                    // height: 33rem;
                    display: flex;
                    flex-direction: column;
                    justify-self: center;
                    align-self : center;
                    row-gap: 2rem;
                    
                    

                    & .social_links{
                        z-index: 4;
                        & .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
                            font-size: 1.2rem;
    
                        }
                    }


                }
                
                
                
                & .part3{
                    position: relative;
                    grid-column: 4/5;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items : center;

                    & .contact_info{
                        z-index: 4;
                        font-size: 1rem;
                        padding-left: 1rem;
                        // margin-top: 4rem;
                        & .con{
                            display: flex;
                            column-gap: 2rem;
                            margin-bottom: 1rem;
                            & .con_icons{
                                height: 1.2rem;
                            }
                        }
                    }
                }
            }   
        }
    }




}


