

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import 'vars';


*{
    padding : 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
}

html{
    font-size : 62.5%;
}

body{
    // background-color: $bg-secondary;
}


//Admin , Admin Dashboard


.admin_outer_div{
    min-height: 100vh;
    width: $main-width;
    background-color: $bg-primary;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &::after{
        content : "";
        position: absolute;
        width: 100rem;
        height: 150rem;
        background-color: $bg-secondary;
        top : 10rem;
        right: -15rem;
        // z-index: -5;
        rotate: 317deg;
        border-radius: 43rem 33rem 105rem 10rem;
        box-shadow: 0 0 60rem $bg-shadow,
                    0 0 1rem $bg-secondary;

        
    }
    &::before{
        content : "";
        position: absolute;
        width: 40rem;
        height: 50rem;
        background-color: $bg-secondary;
        top : 2rem;
        left: 2rem;
        // z-index: -5;
        rotate: 300deg;
        border-radius: 33rem 14rem 15rem 20rem;
        box-shadow: 0 0 60rem $bg-shadow,
                    0 0 1rem $bg-secondary;
        
    }

    & .admin_inner_div{
        z-index: 6;

        & .admin_login{    
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 80rem;

                & .admin_login_form{

                    width: 70rem;
                    padding: 4rem;
                    z-index: 7;  
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 2.5rem;
                    border-left: 3px solid rgba(255, 255, 255, 0.7);
                    border-bottom: 3px solid rgba(255, 255, 255, 0.7);
                    border-top: 1px solid rgba(255, 255, 255, 0.7);
                    border-right: 1px solid rgba(255, 255, 255, 0.7);
                    box-shadow: inset 0px 0px 15rem 0px rgba(255, 255, 255, 0.8);
                }            
            }
                
        
        & .css-10hburv-MuiTypography-root{
            font-size: 2rem;
        }

        & .css-1iyq7zh-MuiDataGrid-columnHeaders{
            justify-content: center;
        }
        & .css-siqkc4-MuiDataGrid-root{
            align-items: center;
        }
        & .MuiDataGrid-actionsCell{
            & .css-15ghhi9-MuiButtonBase-root-MuiIconButton-root{
            }
            & .css-ptiqhd-MuiSvgIcon-root{
                 font-size: 2rem;
            }
        }
        
        
        
    }
    
    
    
}

.css-1ps6pg7-MuiPaper-root{
    & .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
        font-size: 1.4rem;
    }
    & .css-4b67si-MuiSvgIcon-root{
         font-size: 2rem;
         color : #07bc0c;
        }

    & .new{

        & .css-i4bv87-MuiSvgIcon-root{
            color : rgb(126, 224, 246);
            font-size: 2rem;
        }
    }
  
    & .con{

        & .css-i4bv87-MuiSvgIcon-root{
            color : #07bc0c;
            font-size: 2rem;
        }
    }
  
    & .css-i4bv87-MuiSvgIcon-root{
        color : #e74c3c;
        font-size: 2rem;
    }
}




//Navbar

.outer_nav{
    position: fixed;
    margin-top: 0 !important;
    width: 100%;
    z-index: 9;
    height: 10rem;
    background-color: $bg;
    display: grid;
    grid-template-columns: 1fr 40rem 20rem 80rem 1fr;
    align-items: center;
    box-shadow: 0 0 5rem rgba(0 , 0 , 0 , 0.2);
    & .logo{
        max-height: 8rem;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        & img{
            // margin-top: -2.8rem;
            height: 8rem;
            // width: auto;
        }
    }


    & .menu{
        height: 8rem;
        grid-column: 4/5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around ;        

        & .nav-link{
            font-size: 1.8rem;
            font-weight: 600;
            text-decoration: none;
            color: $text-primary;

        }
        
        & .active{
            color: $text-active;
        }
    }



}




//Home Page


.home_outer{
    padding-top: 10rem;
    min-height: $main-height;
    width: $main-width;
    
    & .landing{
        margin-top: 1rem;
        box-shadow: 0 0 8rem rgba(0,0,0,0.5);
        z-index: 2;
        position: relative;
        & .right{
            position: absolute;
            right: 0;
            background-color: $about-overlay;
            height : 100%;
            width : 70rem;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            row-gap: 4rem;
            color : rgb(24, 23, 23);
          
        }
    
    
        & .left{
            position: absolute;
            background-color: $home-svg;
            height: 100%;
            width: 75rem;
            display: flex;
            flex-direction: column;
            // align-items: center;
            justify-content: center;
            row-gap: 4rem;
            & h5{
                font-size: 6rem;
                padding: 0 7rem;
                text-align: right;
            }
            
            & p{
                font-size: 2rem;
                padding: 0 8rem;
                text-align: right;
            }
        }
    }
    
    & .about{
        height: 100rem;
        background-color: $bg;
        position: relative;
        & .about_content{
            display: grid;        
            height: 100%;
            width: 100%;
            grid-template-columns: repeat(2,1fr) ;
            
            & .photo_gallery{
                grid-column: 1/2;
                position: relative; 
                left: 10rem;    
                & img{
                    position: absolute;
                    border-radius: 13px;
                    box-shadow: 0 0 50px rgba(0,0,0,0.5);
                    width: auto;
                    
                    &:nth-child(1){
                        top: 18rem;
                        left: -7rem;
                        z-index: 3;
                        height: 25rem;
                        // aspect-ratio: 6/9;                        
                    }
                    &:nth-child(2){
                        z-index: 4;
                        top:70rem;
                        left: 18rem;
                        height: 30rem;
                    }
                    &:nth-child(3){
                        z-index: 3;
                        top: 48rem;
                        left: -7rem;
                        height: 30rem;
                        
                    }
                    &:nth-child(4){
                        top: 5rem;
                        left: 16rem;
                        z-index:1;
                        height: 35rem;
                    }
                    &:nth-child(5){
                        top: 34rem;
                        left: 10rem;
                        z-index: 2;
                        height: 40rem;
                    }

                }           
            }

            & .about_smile{
                grid-column: 2/3;
                position: relative;
                height: 100%;
                & .container{
                    top : 20rem;
                    right: 0;
                    width: 127%;
                    z-index: 0;
                    height: 50rem;
                    background-color: $about-bg;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
                    & h5{
                        font-size: 6rem;
                        padding: 0 7rem;
                        text-align: right;
                        color : $text-light;
                    }
                    
                    & p{
                        color : $text-light;
                        margin-top: 3rem;
                        font-size: 2rem;
                        padding: 0 8rem 0 20rem;
                        text-align: right;
                    }
                }

            }

        }
    }
}





//Donate Blood, Donor Dashboard, Request Blood, Request Dashboard

.css-79ws1d-MuiModal-root {
    & .css-1hv8oq8-MuiStepLabel-label {
        font-size: 1.6rem !important;
    }

}
.donate_outer_div, .request_outer_div , .req_dashboard_outer_div , .don_dashboard_outer_div {
    min-height: $main-height;
    width: $main-width;
    background-color: $bg;
    position: relative;
    overflow: hidden;
    // z-index: -5;
    // &::after{
    //     content : "";
    //     position: absolute;
    //     width: 100rem;
    //     height: 150rem;
    //     background-color: $bg-secondary;
    //     top : 10rem;
    //     right: -15rem;
    //     // z-index: -2;
    //     rotate: 317deg;
    //     border-radius: 43rem 33rem 105rem 10rem;
    //     box-shadow: 0 0 60rem $bg-shadow,
    //                 0 0 1rem $bg-secondary;

        
    // }
    // &::before{
    //     content : "";
    //     position: absolute;
    //     width: 40rem;
    //     height: 50rem;
    //     background-color: $bg-secondary;
    //     top : 2rem;
    //     left: 2rem;
    //     // z-index: -3;
    //     rotate: 300deg;
    //     border-radius: 33rem 14rem 15rem 20rem;
    //     box-shadow: 0 0 60rem $bg-shadow,
    //                 0 0 1rem $bg-secondary;
        
    // }


    //Donor and Request Signup/Login Pages
    & .donate_register, & .request_register , & .donate_login{
        // z-index: 6;
        width: 100%;
        height: 80rem;
        display: flex;
        justify-content: center;
        align-items: center;

        
        & .donate_registration_form, & .request_registration_form , & .donate_login_form {
            width: 70rem;
            padding: 4rem;
            z-index: 7;  
            background-color: rgba(255, 255, 255, 0.2);
            border-radius: 2.5rem;
            border-left: 3px solid rgba(255, 255, 255, 0.7);
            border-bottom: 3px solid rgba(255, 255, 255, 0.7);
            border-top: 1px solid rgba(255, 255, 255, 0.7);
            border-right: 1px solid rgba(255, 255, 255, 0.7);
            box-shadow: inset 0px 0px 15rem 0px rgba(255, 255, 255, 0.8);
        
        
            & .reg form {

                & .chakra-form-control{
                    &:nth-child(1){
                        margin-top: 3rem;
                        // height: 2rem;
                    }

                    & .chakra-form__label{

                        font-size: 1.4rem;
                    }
                    
                }
            }       
        }
    }



        //Request And Donate Dashboard
        & .req_dashboard_content, & .don_dashboard_content{
            width: 100%;
            min-height: 120rem;
            padding-top: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            & .actual_content{
                position: relative;
                z-index: 6;
                height: 90rem;
                width: 135rem;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 2.5rem;
                border-left: 3px solid rgba(255, 255, 255, 0.7);
                border-bottom: 3px solid rgba(255, 255, 255, 0.7);
                border-top: 1px solid rgba(255, 255, 255, 0.7);
                border-right: 1px solid rgba(255, 255, 255, 0.7);
                box-shadow: inset 0px 0px 15rem 0px rgba(255, 255, 255, 0.8);
                
                & .logout{
                    position: absolute;
                    top : 3rem;
                    right : 7rem;
                }

                & .grid_container{
                    display: grid;
                    grid-template-areas:    "main calendar"
                                            "requests calendar";
                    grid-template-columns: 2fr 1fr;
                    min-height: 80rem;
                    gap: 1rem;
                    padding: 3rem;


                    & .main{
                        grid-area: main;
                        justify-content: space-around;
                        align-items: space-around;
                        display: flex;
                        flex-direction: column;
                        & .remaining_units{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            place-self: flex-start;
                        }

                        & .register_patient{
                            place-self: flex-start;
                            margin-left: 2rem ;
                            
                        }
                    }


                    & .calendar{
                        grid-area: calendar;
                        & .date_time{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            align-items: center;
                            justify-content: center;
                            & .date{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 25rem;
                                height: 15rem;
                                font-size: 3.5rem;
                                background-color: #b62b3c;
                                color: $text-light;
                                box-shadow: 0 -1rem 5rem rgba(0 , 0 , 0 , 0.6);
                            }
                            
                            & .time{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                background-color: #daccca;
                                font-size: 3rem;
                                height: 10rem;
                                width: 25rem;
                                box-shadow: 0 1rem 5rem rgba(0 , 0 , 0 , 0.6);
                            }

                        }



                    }
                    & .requests{
                        grid-area: requests;
                        height: 100%;
                        margin-top: 5rem;
                    }
                }

                & .modal_div{

                    & .css-ascpo7-MuiStepLabel-root {
                        & .css-1vyamtt-MuiStepLabel-labelContainer{
                            & .css-1hv8oq8-MuiStepLabel-label {
                                font-size: 1.8rem !important;
                            }
                        }
                    }
                }

            }


        }
}











// Sweet Alert Container

.swal2-container {
    z-index: 1500;
}









//Footer



.footer_outer{

    background-color: $bg;
    height: 20rem;
    z-index: 0;
    // overflow: hidden;
    & .footer_inner{
        position: relative;
        display: flex;
        height: 100%;
        & img{
            position: absolute;
            bottom : 0;
        }
        
        & .footer_details{
            width: 100%;
            display: grid;
            grid-template-columns: 0.5fr repeat(3,5fr) 1fr;
            
            & .part1{
                grid-column: 2/3;
                width: 100%;
                // height: 33rem;
                display: flex;
                justify-content: center;
                align-items : center;
                & img{
                    bottom: 7rem;
                    max-height: 8rem;
                    width: auto;
                }
            }
            & .part2{
                position: relative;
                // top: 6rem;
                grid-column: 3/4;
                width: 100%;
                // height: 33rem;
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-self : center;
                row-gap: 8rem;
                
                

                & .social_links{
                    z-index: 4;
                }


            }
            
            
            
            & .part3{
                position: relative;
                grid-column: 4/5;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items : center;

                & .contact_info{
                    z-index: 4;
                    font-size: 1.4rem;
                    padding-left: 7rem;
                    // margin-top: 4rem;
                    & .con{
                        display: flex;
                        column-gap: 2rem;
                        margin-bottom: 1rem;
                        & .con_icons{
                            min-width: 2.6rem;
                        }
                    }
                }
            }
        }   
    }
}




::-webkit-scrollbar{
    width: 0.4rem;
    height: 0.4rem;
}

::-webkit-scrollbar-thumb{
    background: $about-bg;
    border-radius: 10rem;
}

::-webkit-scrollbar-track{
    background: $bg;
}